:root {
  --focus-color: var(--focus-color) #2196f3;
  --header-color: var(--header-color) #212121;
  --adress-color: var(--adress-color) #ffffff;
}
body {
  font-family: "Roboto";
  color: #757575;
  text-decoration: none;
}

.logo-styles {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-content {
  width: 1600px;
  left: 0px;
  top: 0px;
  border: 2px dashed #2196f3;
}
.nav-links .nav-list-item {
  color: #212121;
}
.nav-links .nav-list-item:hover {
  color: #2196f3;
}
.main-countainer {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  color: #ffffff;

  background: #2f303a;
}
button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.middle-section {
  width: 1170px;

  left: 215px;
  top: 774px;
}
.middle-list-item h3 {
  color: #212121;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
}
.middle-list-item p {
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
}
