:root {
  --focus-color: #2196f3;
  --header-color: #212121;
  --adress-color: #ffffff;
  --text-color: #757575;
  --background-color: #2f303a;
  --background-secondary: #f5f4fa;
  --background-portfolio: #e5e5e5;
  --header-border: #ececec;
  --image-background: #eeeeee;
  --svg-background: #f5f4fa;
  --svg-color: #afb1b8;
  --svg-color-footer: rgba(255, 255, 255, 0.1);
  --gradient: rgba(47, 48, 58, 0.4);
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
ul {
  list-style: none;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
  display: block;
  /* border: 1px solid #212121; */
}

.container-primary {
  width: 1200px;
  margin: 0 auto;
  display: block;
  padding-bottom: 94px;
}

.container-secondary {
  width: 1200px;
  margin: 0 auto;
  display: block;
  /* border: 1px solid #212121; */
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}
.header-border {
  border-bottom: 1px solid var(--header-border);
}
.logo-styles {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--header-color);
  width: 145px;
  height: 31px;
  margin: 24px 93px 25px 15px;
}
.logo {
  color: var(--focus-color);
}
.navigation {
  display: flex;
  align-content: center;
  justify-content: center;
}
.nav-contact {
  display: flex;
  margin-left: 345px;
}
.nav-contact-margin {
  margin-right: 30px;
}

.icon-margin {
  margin-right: 10px;
  fill: var(--svg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.icon-margin:hover,
.nav-link:focus,
.icon-margin:focus {
  fill: var(--focus-color);
  color: var(--focus-color);
}
.nav-links {
  display: flex;
  flex-direction: row;
  gap: 46px;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: center;
  align-content: center;
}

.nav-list-item {
  font-family: "Roboto";
  color: var(--header-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item:hover,
.nav-list-item:focus {
  color: var(--focus-color);
}
.nav-flex {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 32px 15px 32px auto;
  align-content: center;
  justify-content: center;
}
.nav-link {
  display: flex;
  font-family: "Roboto";
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-content: center;
  justify-content: center;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover .icon-margin {
  fill: var(--focus-color);
}

.nav-link:focus .icon-margin {
  fill: var(--focus-color);
}
.main-container {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
}
.main-heading {
  color: var(--adress-color);
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.button {
  color: var(--adress-color);
  font-size: 16px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  text-align: center;
  background: var(--focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  /* border: 1px solid black; */
  margin: 0 auto;
}
.background {
  background: var(--background-color);
  margin: 0px;
}

.main-background {
  background-color: var(--background-color);
  background-image: linear-gradient(var(--gradient), var(--gradient)),
    url(../images/image17.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}
.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}
.top-heading {
  color: var(--header-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  width: 270px;
  height: 16px;
  /* border: 1px solid black; */
  margin-bottom: 10px;
}
.top-text {
  font-size: 14px;
  line-height: 1.7;
  width: 270px;
  height: 75px;
  /* border: 1px solid black; */
  letter-spacing: 0.02em;
}
.thumb {
  position: relative;
}

.middle-backdrop {
  display: flex;
  position: absolute;
  left: 0px;
  bottom: 0px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--adress-color);
}
.middle-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 50px;
  align-content: center;
  justify-content: center;
}
.middle-flex-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0 auto;
}

.middle-heading {
  color: var(--header-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.bottom-background {
  background-color: var(--background-secondary);
}
.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}
.bottom-flex-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0 auto;
}
.team-image {
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1635px;

  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.bottom-heading {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  align-content: center;
  justify-content: center;
}
.list-person {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.list-function {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.last-section-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.footer-contaier {
  padding-top: 60px;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  text-decoration: none;
  margin-left: 15px;
}
.footer-flex {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.address-styles {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  font-style: normal;
  margin-left: 15px;
}
.footer-nav {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  margin-left: 15px;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav:hover,
.footer-nav:focus {
  color: var(--focus-color);
}
.footer-background {
  background-color: var(--background-color);
}

/* ----------------------------------------------------------------------Portfolio----------------------------------------------------------------------------- */

.container-portfolio {
  width: 1200px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  margin-bottom: 94px;
}

button {
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  border-radius: 4px;
  background: var(--background-secondary);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  transition: background 2500ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  color: var(--adress-color);
}
.content-section {
  color: var(--adress-color);
}
.content-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
  gap: 30px;
  align-content: center;
  justify-content: center;

  /* border: 1px solid black; */
}
.list-description {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  margin: 20px 24px 4px 24px;
}
.list-example {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-left: 24px;
  margin-bottom: 20px;
}
.footer-nav-secondary {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.buttons-flex {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-content: center;
  /* border: 1px solid black; */
  margin-top: 94px;
  margin-bottom: 0px;
}
.figure-item {
  width: 370px;
  height: 404px;
  background: var(--adress-color);
  margin-bottom: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.figure-item:hover,
.figure-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.figcaption-border {
  border: 1px solid var(--image-background);
}
.last-section-header {
  margin-bottom: 50px;
}
.footer-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--adress-color);
}
.footer-socials {
  display: flex;
  flex-direction: column;
}
.portfolio-background {
  background-color: var(--background-color);
}
.project-image:hover .project-description {
  top: 0px;
  transition: 250ms;
}
.project-image {
  position: relative;
  overflow: hidden;
}
.project-description {
  transition: 250ms;
  display: flex;
  position: absolute;
  left: 0px;
  top: 294px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  z-index: 12;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-top: 49px;
  padding-bottom: 49px;
  padding-right: 45px;
}

/* ----------------------------------------------------------------svg--------------------------------------------------------- */

.svg-container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--svg-background);
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 102px;
}
.svg-envelope {
  margin-left: 10px;
  align-content: center;
  justify-content: center;
}
.svg-flex {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}
.footer-item {
  display: flex;
}
.footer-svg-flex {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-left: 70px;
}
.figcaption-item:hover,
.figcaption-item:focus {
  fill: var(--adress-color);
  background-color: var(--focus-color);
}
.icon-margin {
  margin-right: 10px;
}

.team-social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--svg-color);
  background-color: var(--adress-color);
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--focus-color);
  fill: var(--adress-color);
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--adress-color);
  background-color: var(--svg-color-footer);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--focus-color);
}
.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--svg-color);
  fill: var(--svg-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--focus-color);
  border-color: var(--focus-color);
}
.our-clients-background {
  background-color: var(--adress-color);
}

/* okno modalne */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 10;
}
.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  width: 526px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 12;
}
.modal-button {
  position: absolute;
  left: 490px;
  top: 8px;
  z-index: 12;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.button::after .modal-window {
  animation-name: scale;
  animation-duration: 2500ms;
}

@keyframes scale {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
