.logo__header {
  font-family: $raleway;
  font-style: normal;
  font-weight: 700;
  font-size: $logo-font;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $header-color;
}
.logo__header-studio {
  color: $focus-color;
}
.logo__footer {
  text-align: center;
  font-family: $raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $adress-color;
  text-decoration: none;
  width: 154px;
  height: 28px;
}

@media screen and (min-width: 768px) {
  .logo__header {
    font-family: $raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $header-color;
    padding-top: 26px;
    padding-bottom: 52px;
    padding-left: 15px;
    width: 134px;
    height: 28px;
  }
  .logo__header-studio {
    color: $focus-color;
  }
  .logo__footer {
    text-align: center;
    font-family: $raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $adress-color;
    text-decoration: none;
    width: 154px;
    height: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin: 24px 93px 30px 0px;
  }
  .logo__header {
    font-family: $raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $header-color;
    width: 145px;
    height: 31px;
  }
  .logo__header-studio {
    color: $focus-color;
  }
  .logo__footer {
    text-align: left;
    padding: 0;
    font-family: $raleway;
    font-weight: 700;
    font-size: $logo-font;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $adress-color;
    text-decoration: none;
    margin-left: 0px;
    width: 145px;
    height: 31px;
    padding-left: 0px;
  }
}
