@media screen and (max-width: 480px) {
  .team__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .team__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
}
