.page__header {
  color: $adress-color;
  font-family: $roboto;
  font-weight: 900;
  font-size: $page-header-font;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}
