.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
  gap: 8px;
  justify-content: center;

  align-content: center;
  margin-top: 94px;
  margin-bottom: 0px;
}

.buttons__button {
  width: 100%;
  height: 38px;
  left: 639px;
  top: 174px;
  border-radius: 4px;
  background: $background-secondary;
  font-family: $roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
    color: $adress-color;
  }
}
.button__one {
  padding-left: 13px;
  padding-right: 13px;
}
.button__two {
  padding-left: 40px;
  padding-right: 39px;
}
.button__three {
  padding-left: 37px;
  padding-right: 38px;
}
.button__four {
  padding-left: 28px;
  padding-right: 28px;
}
.button__five {
  padding-left: 27px;
  padding-right: 26px;
}

@media screen and (max-width: 768px) {
  .buttons {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 5);
    gap: 8px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 94px;
  }
  .buttons__button {
    width: 100%;
    height: auto;
    padding: 6px;
    border-radius: 4px;
    background: $background-secondary;
    font-family: $roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: #2196f3;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      cursor: pointer;
      color: $adress-color;
    }
  }
}
.button__one {
  padding-left: 13px;
  padding-right: 13px;
}
.button__two {
  padding-left: 40px;
  padding-right: 39px;
}
.button__three {
  padding-left: 37px;
  padding-right: 38px;
}
.button__four {
  padding-left: 28px;
  padding-right: 28px;
}
.button__five {
  padding-left: 27px;
  padding-right: 26px;
}
@media screen and (min-width: 1200px) {
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-content: center;
    margin-top: 94px;
    margin-bottom: 0px;
  }
  .buttons__button {
    width: 100%;
    height: auto;
    padding: 6px;
    border-radius: 4px;
    background: $background-secondary;
    font-family: $roboto;
    font-weight: 500;
    font-size: $button-font;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: #2196f3;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      cursor: pointer;
      color: $adress-color;
    }
  }
  .button__one {
    padding-left: 13px;
    padding-right: 13px;
  }
  .button__two {
    padding-left: 40px;
    padding-right: 39px;
  }
  .button__three {
    padding-left: 37px;
    padding-right: 38px;
  }
  .button__four {
    padding-left: 28px;
    padding-right: 28px;
  }
  .button__five {
    padding-left: 27px;
    padding-right: 26px;
  }
}
