:root {
  --focus-color: #2196f3;
  --header-color: #212121;
  --adress-color: #ffffff;
  --text-color: #757575;
  --background-color: #2f303a;
  --background-secondary: #f5f4fa;
  --background-portfolio: #e5e5e5;
  --header-border: #ececec;
  --image-background: #eeeeee;
  --svg-background: #f5f4fa;
  --svg-color: #afb1b8;
  --svg-color-footer: rgba(255, 255, 255, 0.1);
  --gradient: rgba(47, 48, 58, 0.4);
}
