@media screen and (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .about__svg {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: $svg-background;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-left: 192.34px;
  }
  .about__heading {
    margin: 0 auto;
    margin-bottom: 10px;
    color: $header-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 270px;
    height: 16px;
    text-align: center;
  }
  .about__text {
    font-size: $text-font;
    line-height: 1.7;
    width: 450px;
    height: 50px;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .about__svg {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: $svg-background;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-left: 192.34px;
  }
  .about__heading {
    margin: 0 auto;
    margin-bottom: 10px;
    color: $header-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 270px;
    height: 16px;
    text-align: center;
  }
  .about__text {
    font-size: $text-font;
    line-height: 1.7;
    width: 450px;
    height: 50px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
  }
  .about__svg {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $svg-background;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 102px;
  }
  .about__heading {
    margin-bottom: 10px;
    color: $header-color;
    font-weight: 700;
    font-size: $text-font;
    line-height: 1.14;
    width: 270px;
    height: 16px;
  }
  .about__text {
    font-size: $text-font;
    line-height: 1.7;
    width: 270px;
    height: 75px;
    letter-spacing: 0.02em;
  }
}
