.footer {
  background-color: $background-color;
}
.footer__element {
  display: flex;
  flex-direction: row;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address__link {
  margin-left: 15px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $focus-color;
  }
}
.address__link-address {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $adress-color;
  font-style: normal;
}

.formulage {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: row;
}

.form__header {
  gap: 10px;
  padding-top: 72px;
  margin-left: 78px;
  margin-top: 0px;
  padding-bottom: 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $adress-color;
  transition: 250ms;
}

.form__email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $background-color;
  color: $adress-color;
}
.form__button {
  position: relative;
  margin-left: 12px;
  margin-top: 10px;
  padding-left: 42px;
  padding-right: 76px;
  width: 200px;
  height: 50px;
  background: $focus-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $adress-color;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}
.newsletter-svg {
  position: absolute;
  left: 148px;
  top: 13px;
  width: 24px;
  height: 24px;
  fill: $adress-color;
}
.form__button-svg {
  position: absolute;
  left: 148px;
  top: 13px;
  width: 24px;
  height: 24px;
  fill: $adress-color;
}
