.heading {
  background: $background-color;
  margin: 0px;
}
.heading__image {
  background-color: $background-color;
  background-image: linear-gradient($gradient, $gradient),
    url(../images/image17.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.heading__button {
  left: 700px;
  top: 430px;
  text-align: center;
  margin: 0 auto;
  color: $adress-color;
  font-size: $button-font;
  width: 200px;
  height: 50px;
  background: $focus-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
