.header__border {
  border-bottom: 1px solid $header-color;
}

.navigation {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 46px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__name {
  position: relative;
  font-family: "Roboto";
  color: $header-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $focus-color;
  }
}

.navigation__name-underline:active {
  position: relative;
  color: $adress-color;
}
.navigation__name-underline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: $focus-color;
  border-radius: 2px;
  top: 46px;
  display: block;
}
.contact {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 32px 15px 32px auto;
  align-content: center;
  justify-content: center;
}

.contact__link {
  display: flex;

  align-items: center;
  font-family: $roboto;
  color: $text-color;
  font-weight: 500;
  font-size: $text-font;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $focus-color;
  }
  &:hover .contact__svg {
    fill: $focus-color;
  }
  &:focus .contact__svg {
    fill: $focus-color;
  }
}
.contact__svg {
  margin-right: 10px;
  fill: $svg-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__svg-margin {
  margin-right: 10px;
}
